<!DOCTYPE html>
<html>
<head>
<% include ../views/partials/head.ejs %>
</head>
<% include ../views/partials/header.ejs %>
<body>
<h2><%= order.client %></h2>
<h3><%= order.style %></h3>
<h3><%= order.color %></h3>
<h3><%= order.frontDesign %></h3>
<h3><%= order.backDesign %></h3>
<h3><%= order.rightSideDesign %></h3>
</body>
</html>